:root {
    --sidebar-color:  rgb(0, 0, 0);
    --sidebar-width: 150px;

    --header-color: rgb(8, 11, 18);
    --header-header: 60px;

    --body-color: rgb(20, 25, 34);
    --player-color:  rgb(40, 40, 40);
    --text-color:  rgb(255, 255, 255);

    --player-height: 80px;
}

/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: white;
}


/* griglia */
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    padding: 1rem;
}


/* *UTILS SE DOVESSERO SERVIRE */

/* .clearfix::after {
    content: '';
    display: block;
    clear: both;
} */



/* inizio css vero e proprio */

#main {
    height: calc(100vh - var(--player-height));
    width: 100%;
    /* questa non funziona
    width: calc(100% - var(--sidebar-width)); */
    display: flex;


    border: 2px solid green;

}

.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--sidebar-color);

    border: 2px solid red;
}

/* non riesco a ridimensionare, nemmeno se dai reset tolgo  max-width: 100%; */
.logobig {
    width: 20%;
}



.cuore {
    width: 100%;
}

header {
    background-color: var(--header-color);
    height: var(--header-header);

    border: 2px solid yellow;
}

#upgrade {
    justify-content: center;
    align-items: center;
}

/* non riesco a spostare il bottone */
button {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.central {
    width: 100%;
    height: calc(100% - var(--header-header));

    border: 2px solid blue;
}



#player {
    background-color: var(--player-color);
    height: var(--player-height);
    width: 100%;

    border: 2px solid green;
}



/* !OVVIAMENTE VANNO CONTESTUALIZZATE CASO PER CASO */

/* MEDIA QUERY TABLET */

/* @media screen and (max-width: 768px) {
    .div {
        width: 100%;
        flex-wrap: wrap;
        color: green;
    }

    .div2 {
        flex-wrap: wrap;
    }
} */



/* MEDIA QUERY PHONE*/

/* @media screen and (max-width: 480px) {
    .div {
        width: 100%;
    }
} */